
.desc p {
    height: 300px;height: 300px;height: 300px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 112.5%;
    /* or 39px */
    color: #FFFFFF;
}

.project {
    display: grid;
    margin-top: 100px;
}

.projectIndex {
    margin-top: 100px;
}

.projectIndex a{
    text-decoration: underline;
    font-family: 'Nunito';
}

.projectIndex p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.projectIndex > div {
    display: flex;
    justify-content: space-between;
}

.projectIndex > div:not(.first) {
    margin-top: 20px;
}

.coming_soon {
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    opacity: 0.7;
    margin-top: 60px;
}
@media (min-width:768px) {
    .project {
        width: 90%;
        margin: 100px auto;
    }

    .desc {
        width: 90%;
        margin: auto;
        margin-bottom: 180px;
    }

    .desc p {
        line-height: 120%;
        font-size: 2.3rem;
    }

    .projectIndex {
        margin-right: 15px;
        margin-left: 15px;
    }

}

@media (min-width:1024px) {
    .project {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }

    .desc {
        width: 40%;
        margin-left: 70px;
        margin-bottom: 150px;
    }

    .desc p {
        line-height: 130%;
        font-size: 2.5rem;
    }
}